/* Groups */
aside {
    top: 0;
    height: 100vh;
    position: absolute;
    background-color: #333333;
}

.logo-container{
    width: 65px;
    height: 65px;
}

.logo-container--inner {
    background: #db0a5b;
    display: inline-flex;
    height: 100%;
    width: 100%;
}

.logo-container--inner img {
    width: 70%;
    height: 70%;
    margin: auto;

}

.groups {
    padding: 0;
    margin: 0;
    list-style-type: none;
    position: relative;
}

.active-group {
    background: #db0a5b;
    width: 3px;
    height: 3px;
    position: absolute;
    border-radius: 100px;
    opacity: 0;
}

.active-group.active{
    opacity: 1;
}

.group {
    width: 100%;
    height: 60px;
    padding: 10px 0px;
    text-align: center;
}

.group:hover {
    cursor: pointer;
}

.group--image {
    background-image: url("../../img/group-default.png");
    width: 70%;
    height: 70%;
    border-radius: 5px;
}

.group--index {
    color: #fff;
    margin: 0;
}