@import url("./fonts.css");

/* Global */
* {box-sizing: border-box;}

body, html{
    margin: 0;
    font-family: OpenSans-Light;
}

/* Header (Title and Hamburger Menu) */
header { 
    background: #efefef;
    position: relative;
    padding: 1px;
    padding-left: 60px;
    box-shadow: 0px 2px 0px #ccc;
}

header h1 {
    font-size: 1.5em;
    margin: 15px;
    color: #272727;
    
}

header a {
    font-size: 1.5em;
    padding: 16px;
    position: absolute;
    right: 10px;
    top: 0;
    color: #4d4d4d;
}


/* Groups */
aside {
    top: 0;
    height: 100vh;
    position: absolute;
    background-color: #333333;
}

.logo-container{
    width: 65px;
    height: 65px;
}

.logo-container--inner {
    background: #db0a5b;
    display: inline-flex;
    height: 100%;
    width: 100%;
}

.logo-container--inner img {
    width: 70%;
    height: 70%;
    margin: auto;

}

.groups {
    padding: 0;
    list-style-type: none;
}

.group {
    width: 100%;
    height: 60px;
    margin: 15px 0px;
    text-align: center;
}

.group--image {
    background-image: url("../img/group-default.png");
    width: 70%;
    height: 70%;
    border-radius: 5px;
}

.group--index {
    color: #fff;
    margin: 0;
}