@import url("./fonts/fonts.css");
@import url("./components/header.css");
@import url("./components/groups.css");
@import url("./components/postsList.css");
@import url("./components/postContent.css");

/* Variables */
:root {
    --header-spacing: calc(100vh - 65px); 
}

/* Global */
body, html{
    margin: 0;
    font-family: OpenSans-Regular;
}